[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/redstone-contracts"]
	path = lib/redstone-contracts
	url = https://github.com/UMAprotocol/redstone-contracts
[submodule "lib/redstone-contracts.git"]
	path = lib/redstone-contracts.git
	url = https://github.com/UMAprotocol/redstone-contracts.git
